@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.transfers
{
    width: 232px;
    height: 252px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.transfers label
{
    font-size: 13px;
    line-height: 20px;
    color: #4a4a4a;
}

.transfers .title
{
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 20px 10px 20px;
    display: block;
}

.checkbox
{
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
}

input[type=checkbox]
{
    display:none;
}

input[type=checkbox] + label
{
    position: absolute;
    border: 1px solid #9abbce;
    height: 20px;
    width: 20px;
    display:inline-block;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1;
    left: 20px;
}

label:hover + .checkbox-text,
.checkbox-text:hover
{
    background-color: #f1fcff;
}

input[type=checkbox]:checked + label
{
    border-color: #2196f3;
    background-color: #2196f3;
    height: 20px;
    width: 20px;
    display: inline-block;
    padding: 0;
}

.checkbox-text
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.checkbox-text span
{
    position: relative;
    left: 50px;
}
